/*============ GERAL ============= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color:	hsl(328, 82%, 38%);
  --secondary-color: 	hsl(333, 49%, 82%);
  --light-color: hsl(3, 68%, 94%);
  --light-border: hsl(5, 20%, 89%);
  --strong-color: 	hsl(325, 83%, 21%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsla(210, 9%, 31%);

  --bg-light: hsl(323, 70%, 95%);

  --nav-heigth: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);
}

ul {
  list-style: none;
}

section {
  padding-block: 10rem;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/*============ HOME ============= */

#home {
  padding-top: calc(4.1rem + var(--nav-heigth)) ;
}

#home::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-heigth)) ;
  background-color: var(--secondary-color);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

#home h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

#home button {
  background: var(--primary-color);
  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;

  color: #ffffff;

  text-transform: uppercase;

  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;
}

#home img {
  display: block;
  width: 20rem;
  height: 35rem;

  /* width: 26.4rem; */
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--light-color);
  border: 1px solid var(--light-border);
  border-radius: .6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: .4rem;

}

#home .stats h3 {
  margin-top: 4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

/*============ NAV ============= */

nav {
  display: flex;
  height: var(--nav-heigth);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav h1 {
  color: var(--primary-color);
  font-family: 'Corinthia', cursive;
  font-size: 3.6rem;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-color);
  width: 100vw;
  transition: 1s ease-in-out;
}

nav.scroll h1 {
  color: white;
  font-family: 'Corinthia', cursive;
  font-size: 3.6rem;
}

.logo {
  text-decoration: none;
}

/* nav.scroll img {
  background-image: url('./logo-blumis-white.svg');
} */

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*============ MENU MOBILE ============= */
body.menu-mobile {
  overflow: hidden;
}

/* PSEUDO */
body.menu-mobile > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-mobile .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-mobile .menu,
body.menu-mobile .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-mobile .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-heigth);

  transition: transform 300ms;
  transform: translateY(0);
}

body.menu-mobile nav {
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: white;
  text-decoration: none ;
}

.menu .button {
  background-color: #ffffff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;

  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-mobile .logo,
body.menu-mobile nav button {
  position: relative;
  z-index: 100;
}

/*  LOGOMARCA BLUMIS (H1) */
body.menu-mobile .logo h1 {
  color: white;
  font-family: 'Corinthia', cursive;
  font-size: 3.6rem;
}

body.menu-mobile button path {
  stroke: white;
}

 /*=========== SERVICES ============= */
 #services header h4 {
   font-size: 1.4rem;
   line-height: 150%;

   letter-spacing: 0.08rem;

   color: var(--primary-color);

   text-transform: uppercase;

   margin-bottom: 1.6rem;
 }

 #services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
 }

 #services header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);

  margin-bottom: 6rem;
 }

 .card {
  padding: 2.4rem;
  text-align: left;
  border: 1px solid var(--light-border);
  border-radius: .6rem;
  background-color: white;
 }

 #services .card h3 {
  margin-block: 1.6rem;
 }